@font-face {
  font-family: 'Comfortaa';
  src: url("../recursos/font/Comfortaa-VariableFont_wght.ttf") format("truetype"); }

@font-face {
  font-family: "righteous";
  src: url(../recursos/font/Righteous-Regular.ttf) format("truetype"); }

/* Reseteo y cambios generales de la pagina */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #F5F5F5; }

/* Cambios Generales */
body {
  background-color: #121212; }

span {
  font-weight: bold; }

p {
  font-family: Comfortaa;
  line-height: 25px; }

h1 {
  font-size: 25px; }

h2,
h3 {
  font-size: 20px;
  padding: 10px 0; }

h1,
h2,
h3 {
  font-family: "righteous";
  letter-spacing: 3px; }

.active {
  text-decoration: underline; }

/* Secciones */
/* HEADER | Boostrap Nav Modificaciones*/
.navbar {
  width: 100%;
  height: 60px;
  background-color: #30475E; }
  .navbar .navbar-brand {
    font-family: "righteous";
    color: #F5F5F5;
    font-size: 30px;
    padding: 0; }
    .navbar .navbar-brand:hover {
      color: #F5F5F5; }
  .navbar .navbar-toggler {
    border-color: #F5F5F5;
    background-color: #F5F5F5; }
  .navbar .collapse {
    background-color: #30475e9a; }
    .navbar .collapse .nav-link {
      display: flex;
      justify-content: flex-end;
      font-family: "righteous";
      color: #F5F5F5;
      font-size: 20px; }
      .navbar .collapse .nav-link:hover {
        color: #F5F5F5; }

/* FIN HEADER | Boostrap Nav */
.main {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden; }

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 144px;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  background-color: #30475E; }
  footer .redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 160px;
    margin-left: 20px;
    justify-content: center; }
    footer .redes h3 {
      font-size: 16px;
      letter-spacing: 2px; }
    footer .redes .redes-icon {
      display: flex;
      justify-content: space-around;
      padding: 0; }
      footer .redes .redes-icon li {
        list-style-type: none; }
        footer .redes .redes-icon li a img {
          width: 30px; }
  footer .copyr {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    align-items: center;
    justify-content: center; }
  footer .info-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    margin-right: 20px;
    justify-content: center; }
    footer .info-contact p {
      line-height: 5px; }

/* INICIO CSS INDEX */
.inicio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 78.2vh;
  align-items: center; }
  .inicio__portada {
    background-image: url("../recursos/img/portada.jpg");
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 40px; }
  .inicio__bienvenida {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%; }
    .inicio__bienvenida h1 {
      margin: 20px 0;
      text-align: left; }

/* Fin CSS INDEX */
/* GALERIA CSS */
.galeria {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .galeria h1 {
    width: 100%;
    margin-top: 20px;
    padding-left: 3px;
    text-align: center; }
  .galeria img {
    width: 310px;
    height: 310px;
    object-fit: cover; }
  .galeria__contenido {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly; }
    .galeria__contenido li {
      padding: 20px;
      list-style-type: none; }

/* FIN GALERIA CSS */
/* Eventos CSS */
.evento-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 30px 0; }
  .evento-box h1 {
    text-align: center;
    padding: 20px 0; }
  .evento-box .evento {
    display: flex; }
    .evento-box .evento__eventos {
      display: flex;
      width: 30%;
      flex-direction: column;
      align-items: flex-start;
      margin: 10px; }
      .evento-box .evento__eventos img {
        width: 100%;
        margin: 10px 0;
        border-radius: 10px; }
      .evento-box .evento__eventos h2 {
        line-height: 7px; }
      .evento-box .evento__eventos a {
        color: #F5F5F5;
        text-decoration: none; }
        .evento-box .evento__eventos a:hover {
          color: #F05454;
          text-decoration: underline; }

/* Fin Eventos CSS */
/* Aprendizaje */
.aprendizaje {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "aprendizaje iframe" "enlaces iframe";
  width: 100%;
  height: 100%;
  margin: 77px 0; }
  .aprendizaje .contenido {
    grid-area: aprendizaje;
    width: 100%;
    margin: 0 10px; }
    .aprendizaje .contenido__listado {
      grid-area: enlaces; }
      .aprendizaje .contenido__listado ul {
        padding: 0;
        margin: 20px; }
        .aprendizaje .contenido__listado ul li {
          list-style-type: none; }
          .aprendizaje .contenido__listado ul li a {
            color: #F5F5F5;
            text-decoration: none;
            line-height: 25px; }
            .aprendizaje .contenido__listado ul li a:hover {
              text-decoration: underline;
              color: #F05454; }
    .aprendizaje .contenido h1, .aprendizaje .contenido h2,
    .aprendizaje .contenido p {
      width: 100%;
      padding: 10px 0;
      margin: 20px; }
  .aprendizaje__video {
    grid-area: iframe;
    width: 100%;
    margin: 0 40px;
    height: auto; }
    .aprendizaje__video iframe {
      width: 90%;
      height: 100%; }

/* fin aprendizaje */
/* CONTACTO CSS */
.contacto {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 40px 0; }
  .contacto__secciones {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%; }
    .contacto__secciones h1 {
      margin-bottom: 10px; }
    .contacto__secciones img {
      width: 100%;
      border-radius: 10px;
      margin-top: 10px; }
  .contacto .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 60px; }
    .contacto .formulario__inputs {
      font-family: "Comfortaa";
      padding: 10px 15px;
      border-radius: 8px;
      color: #30475E;
      border: 1px solid #F5F5F5;
      margin-bottom: 10px; }
      .contacto .formulario__inputs::placeholder {
        font-family: 'Comfortaa';
        color: #30475e63; }
    .contacto .formulario__comentarios {
      width: 100%;
      max-height: 100px;
      padding: 10px 20px;
      border-radius: 8px;
      color: #30475E;
      border: 1px solid #F5F5F5;
      margin-bottom: 10px; }
    .contacto .formulario ::placeholder {
      font-family: 'Comfortaa';
      color: #30475e63; }
    .contacto .formulario__labels {
      font-family: 'Comfortaa';
      padding-bottom: 5px; }
    .contacto .formulario__button {
      font-family: 'Comfortaa';
      margin: 10px 0;
      background-color: #30475E;
      color: #F5F5F5;
      border-radius: 6px;
      padding: 10px;
      border: none; }

/* FIN CONTACTO CSS */
/* Queryes */
/* Querys */
@media (max-width: 964px) {
  /* Media Q Index*/
  .inicio__bienvenida {
    padding-right: 40px; }
  /* Media Q Galeria*/
  .galeria__contenido {
    padding-left: 0; }
  /* Media Q Eventos*/
  .evento-box {
    margin: 40px 0; }
    .evento-box .evento {
      justify-content: space-around; }
      .evento-box .evento__eventos h2 {
        line-height: 20px;
        font-size: 16px;
        padding: 0; }
  /* Media Q Aprendizaje*/
  .aprendizaje {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "aprendizaje" "iframe ";
    margin: 20px 0;
    justify-items: center; }
    .aprendizaje .contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: aprendizaje;
      width: 80%; }
      .aprendizaje .contenido__listado {
        width: 100%;
        grid-area: aprendizaje; }
        .aprendizaje .contenido__listado ul {
          padding: 0; }
          .aprendizaje .contenido__listado ul a {
            width: 100%;
            grid-area: aprendizaje;
            color: #F05454;
            text-decoration: underline; }
      .aprendizaje .contenido h1,
      .aprendizaje .contenido p {
        width: 100%;
        padding: 10px 0; }
    .aprendizaje__video {
      width: 100vw;
      height: auto;
      margin: 0 20px;
      text-align: center; }
  /* Media Q Contacto*/
  .contacto {
    margin: 40px 40px; } }

@media (max-width: 744px) {
  /* Media Q Index*/
  .inicio {
    flex-direction: column; }
    .inicio__portada {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      margin-right: 0; }
    .inicio__bienvenida {
      width: 90%;
      padding-right: 0; }
  /* Media Q Aprendizaje */
  .aprendizaje {
    grid-template-rows: 1fr 0.5fr; }
    .aprendizaje .video {
      width: 90%;
      height: 90%;
      margin: 0 20px;
      text-align: center; }
  /* Media Q Eventos*/
  .evento-box h1 {
    padding: 0; }
    .evento-box h1 .evento {
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .evento-box h1 .evento__eventos {
        width: 80%;
        align-items: flex-start; }
  /* Media Q Contacto*/
  .contacto {
    flex-direction: column;
    align-items: center; }
    .contacto .formulario {
      margin-left: 0; } }

@media (max-width: 704px) {
  /* Media Q FOOTER .i. */
  footer {
    flex-direction: column;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px; }
    footer .redes {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 160px;
      justify-content: center;
      margin-left: 0; }
    footer .info-contact {
      display: none;
      margin-right: 0; } }

/* Querys */
