/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 144px;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 0.25rem 0;

    .redes {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 200px;
        margin-left: 20px;
        justify-content: center;

        h3 {
            // font-size: 16px;
            letter-spacing: 2px;
        }

        .redes-icon {
            display: flex;
            justify-content: space-around;
            padding: 0;

            li {
                list-style-type: none;

                a img {
                    width: 30px;
                }
            }
        }
    }

    .copyr {
        @include flexed(flex, column, center);
        width: 230px;
        height: 100%;
        justify-content: center;
    }

    .info-contact {
        @include flexed(flex, column, center);
        height: 100%;
        padding: 0 10px;
        margin-right: 20px;
        justify-content: center;

        p {
            line-height: 5px;
        }
    }
}