/* HEADER | Boostrap Nav Modificaciones*/
.bg-body-tertiary{
    background-color: #30475E !important;
}
    .navbar-brand {
         font-family: $titulo;
         color: #F5F5F5;
         font-size: 30px;
         padding: 0;
     }
     .btn-light{
        color: #F5F5F5;
        filter: brightness(10);
        
     }
         .nav-link {
             font-family: $titulo;
            color: #F5F5F5;
             font-size: 20px;
         }

/* FIN HEADER | Boostrap Nav */