/* HEADER | Boostrap Nav Modificaciones*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: #30475E;

    .navbar-brand {
        font-family: "righteous";
        color: #F5F5F5;
        font-size: 30px;
        padding: 0;
        &:hover {
            color: #F5F5F5;
        }
    }


    .navbar-toggler {
        border-color: #F5F5F5;
        background-color: #F5F5F5;
    }

    .collapse {
        background-color: #30475e9a;

        .nav-link {
            display: flex;
            justify-content: flex-end;
            font-family: "righteous";
            color: #F5F5F5;
            font-size: 20px;

            &:hover {
                color: #F5F5F5
            }
        }

    }
}

/* FIN HEADER | Boostrap Nav */