@font-face {
    font-family: 'Comfortaa';
    src: url("../recursos/font/Comfortaa-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "righteous";
    src: url(../recursos/font/Righteous-Regular.ttf) format("truetype");
}