* {
    margin: 0;
    padding: 0;
}

/* Cambios Generales */
body {
    background-color: #121212;
}

span {
    font-weight: bold;
}

p {
    font-family: $texto;
    line-height: 25px;
    color: #F5F5F5;
}

h1 {
    font-size: 25px;
}

h2,
h3 {
    font-size: 20px;
    padding: 10px 0;
}

h1,
h2,
h3 {
    color: #F5F5F5;
    font-family: $titulo;
    letter-spacing: 3px;
}

.active {
    color: #ffffff !important;
    opacity: 1 !important;
    border-bottom: 2px #fff solid;
}